@import './variables.scss';

body {
    background: $primary-background;
    margin: 0;
    padding: 0;
    color: $primary-white;
    height: 100vh;
}

@media all and (max-width: 640px) {
    body {
        width: auto;
    }
}