@import './variables.scss';

.workHeader {
    font-family: 'Lato', sans-serif;
    font-size: xx-large;
    text-align: center;
    // color: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
}


.showcase {
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
}

.card {
    margin-left: 2rem;
    padding: 1rem;
    height: 22rem;
    width: 18rem;
    // border: white 2px solid;
    border-image-source: $ap-color;
    border-image-slice: 1;
    // border-radius: 30%;
    border-style: solid;
    // border-color: transparent;
    // background: rgb(56, 61, 59, .3);
    // background: $primary-background;
    color: whitesmoke;
    font-family: $font-stack-secondary;
    img {
        margin: 0;
        padding: 0;
        height: 12rem;
        width: 100%;
    }
}

.workTitle {
    margin-top: 0;
    font-size: large;
    text-align: center;
    letter-spacing: .3rem;
    font-family: $font-stack-secondary;
}

.techStack {
    text-align: center;
    font-size: small;
    margin: 0;
    padding: 0;
}

.buttons {
    // position: absolute;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    // margin-top: 20px;
}

a {
    text-decoration: none;
    font-size: small;
    font-weight: bold;
    color: black;
}

.live {
    // background-color: $tech-stack-color;
    background-image: $ap-color-secondary;
    border: none;
    border-radius: 1rem;
    height: 2rem;
    width: 6rem;
    opacity: .5;
    font-family: $font-stack-secondary;
    font-weight: bolder;
    margin: 0;
    padding: 0;
    margin-top: 2rem;
    // margin-left: 10rem;
    // position: absolute;
}

@media all and (max-width: 640px) {
    .showcase {
        flex-direction: column;
    }

    .card {
        margin-bottom: 2rem;
        border-top: none;
        border-left: none;
        border-right: none;
    }
}